.navbar {
    background-color: #bb271a;
}

a {
    color: #bb271a;
}

.red-bt-fixed {
    background-color: #bb271a; !important;
    color: #ffffff;

}

.red-bt-fixed:hover {
    background-color: #bb271a; !important;
    color: #ffffff;

}

.nav-item:hover {
    color: black;
}

.site-card {
    background-color: #ffffff;
}

body {
    background-color: #e0e0e0;
    color: #000000;
}

.bg-grey {
    background-color: #cecece;
}

.bg-red-grey {
    background-color: #eadbda;
}

.card {
    border: 2px solid #bb271a;
    border-radius: 6px;
}

.site-red-border {
    border: 2px solid #bb271a;
    border-radius: 6px;
}