<div class="container">
    <div class="col1">
<mat-card>
  <mat-card-title>Personal Projects</mat-card-title>
  <mat-card-content
    >Most of these projects can be found on my
    <a href="https://github.com/kargq"> GitHub</a>.</mat-card-content
  >
</mat-card>

<mat-card class="example-card">
  <img
    mat-card-image
    src="../../assets/projects/cryptocurrency.PNG"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <mat-card-title>Cryptocurrency and Blockchain</mat-card-title>
    <mat-card-subtitle>Course</mat-card-subtitle>
    <p>
      Introduction to Mathematics and Computer Science behind Bitcoin. Talk for
      MATH 4P92: Topics in Number Theory and Cryptography.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="../../assets/projects/math4p92_presentation.pdf">
      PDF
    </a>
  </mat-card-actions>
</mat-card>

</div>

<div class="col2">

<mat-card class="example-card">
  <img
    mat-card-image
    src="../../assets/projects/matrix-icon.png"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <mat-card-title>Inverse of matrices</mat-card-title>
    <mat-card-subtitle>Android app</mat-card-subtitle>
    <p>
      An app to calculate inverse and determinant of matrices.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-button
      href="https://play.google.com/store/apps/developer?id=Kindeep+Singh+Kargil"
    >
      Play Store
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <img
    style="background: white;"
    mat-card-image
    src="../../assets/projects/mlh-lhd.svg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <mat-card-title>Cesnor</mat-card-title>
    <mat-card-subtitle>Hackathon Project</mat-card-subtitle>
    <p>
      An android app that censors out profanity words from speech in real time.
      Potential applications for live broadcast censorship and for voice chat in
      online games. Won <i> First Place </i> in MLH - Local Hack Day at Brock
      University.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://github.com/kargq/CesnorTTS">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>
</div>
</div>