<div class="container">
  <div class="col1">
    <mat-card>
      <mat-card-title>Personal Projects</mat-card-title>
      <mat-card-content
        >Most of these projects can be found on my
        <a href="https://github.com/kargq"> GitHub</a> page.</mat-card-content
      >
    </mat-card>

    <mat-card>
      <img
        style="background: white;"
        mat-card-image
        src="assets/projects/assureaiscreenshot.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <mat-card-title>Assure AI</mat-card-title>
        <mat-card-subtitle>HackThe6ix 2019</mat-card-subtitle>
        <p>
          A web app that analyses a satellite image following a natural disaster
          to estimate monetary damage.
        </p>
        <p>
           Finished <b>Top 10</b> in HackThe6ix 2019.
        </p>
        <p>
          Uses python wrapped in Express and NodeJS for the back end where
          Tensorflow and Keras is used to build the Mask R-CNN framework. The
          front end is made in React, Google Maps and Zillow APIs are used for
          address resolution and to get information about regional pricing.
        </p>
        <p>
          My contribution is with the front end, fetching data from Zillow and
          Google Maps as well as with back end Python wrappers to work with
          express and node.js.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://github.com/peakyDicers/zillow-web">
          GitHub
        </a>
        <a mat-button href="https://devpost.com/software/tbd-07mrsn">
          Devpost
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img
        style="background: white;"
        mat-card-image
        src="assets/projects/htn-homepage.PNG"
        alt=""
      />
      <mat-card-content>
        <mat-card-title>Hello Neighbour</mat-card-title>
        <mat-card-subtitle>Hack The North 2019</mat-card-subtitle>
        <p>
          Community networking app designed to strengthen the neighborhood by
          allowing people to share their skills to help others. Uses Android,
          java, Firebase, and google maps API.
        </p>
        <p>
          We were able to create a fully functional prototype for the app within
          the hackathon time-frame.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://github.com/peakyDicers/project_community">
          GitHub
        </a>
        <a mat-button href="https://devpost.com/software/hello-neighbour">
          Devpost
        </a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col2">
    <mat-card>
      <iframe
        mat-card-image
        width="560"
        height="315"
        src="https://www.youtube.com/embed/GEVc_6FD49M"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <mat-card-content>
        <mat-card-title>Reddit Video Generator</mat-card-title>
        <mat-card-subtitle>Personal Project </mat-card-subtitle>
        <p>
          My first python project, effectively an automated YouTube channel,
          creates YouTube videos from hot posts on a subreddit.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-button
          href="https://www.youtube.com/channel/UCczHwl_ykQ68F0WSC2MfbGQ/videos"
        >
          YouTube
        </a>
        <a mat-button href="https://github.com/kargq/redditVideoGenerator">
          GitHub
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img
        mat-card-image
        src="assets/projects/matrix-app-play-store.PNG"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <mat-card-title>Inverse of matrices</mat-card-title>
        <mat-card-subtitle>Android app</mat-card-subtitle>
        <p>
          An app to calculate inverse and determinant of matrices. My first
          Android app. Among top two search results for matrix inverse apps on
          the Play Store.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <a
          mat-button
          href="https://play.google.com/store/apps/developer?id=Kindeep+Singh+Kargil"
        >
          Play Store
        </a> -->
        <a
          mat-button
          href="https://play.google.com/store/apps/details?id=a.kindeep.matrixsolver&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          ><img
            width="150px"
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
        /></a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-card-title>N-Dimensional Chess</mat-card-title>
        <mat-card-subtitle>C++ Project</mat-card-subtitle>
        <p>
          Play chess in any number of dimensions. Practically only tested up
          till 9 dimensions, since space and time complexity for
          initialization is Ω(8<sup>n</sup>).
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://github.com/kargq/nDchess">
          GitHub
        </a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col3">
    <mat-card>
      <blockquote mat-card-image class="twitter-tweet" data-theme="dark">
        <p lang="en" dir="ltr">
          Great turnout at
          <a href="https://twitter.com/MLHacks?ref_src=twsrc%5Etfw">@MLHacks</a
          >. Everyone loved it and all the workshops
          <a
            href="https://twitter.com/hashtag/MLHLocalhost?src=hash&amp;ref_src=twsrc%5Etfw"
            >#MLHLocalhost</a
          >
          Looking forward to next years&#39; already
          <a href="https://t.co/SGkLSrQpCl">pic.twitter.com/SGkLSrQpCl</a>
        </p>
        &mdash; Brock CSC (@BrockuCSC)
        <a
          href="https://twitter.com/BrockuCSC/status/1070156433147265024?ref_src=twsrc%5Etfw"
          >December 5, 2018</a
        >
      </blockquote>
      <mat-card-content>
        <mat-card-title>Cesnor</mat-card-title>
        <mat-card-subtitle>Hackathon Project</mat-card-subtitle>
        <p>
          An android app that censors out potentially offensive words from
          speech in real time. Applications include live broadcast censorship
          and voice chat censor in online games.
        </p>
        <p>
          Won <b> 1<sup>st</sup> Place </b> in MLH - Local Hack Day at Brock
          University.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://github.com/kargq/CesnorTTS">
          GitHub
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img
        mat-card-image
        src="assets/projects/cryptocurrency.PNG"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <mat-card-title>Cryptocurrency and Blockchain</mat-card-title>
        <mat-card-subtitle>Presentation for MATH 4P92: Number Theory and Cryptography.</mat-card-subtitle>
        <p>
          Introduction to Mathematics and Computer Science behind Bitcoin. 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="assets/projects/math4p92_presentation.pdf">
          PDF
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
