.col1 {
  grid-area: c1;
}

.col2 {
  grid-area: c2;
}

.col3 {
  grid-area: c3;
}

.container {
  display: grid;
  column-gap: normal;
}

@media screen and (min-width: 100em) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 60em) and (max-width: 100em) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 34em) and (max-width: 60em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 10em) and (max-width: 20em) {
  .container {
    grid-template-columns: 1fr;
  }
}

.padding-div {
  padding: 8px;
}
