<div class="container-for-flex">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        class="menu-button"
        [style.display]="displaySidebarToggle ? 'block' : 'none'"
      >
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <a mat-button [routerLink]="'/'"
        ><h1 class="website-title"><i>Kindeep.me</i></h1></a
      >
      <span class="menu-spacer"></span>
      <div [style.display]="displaySidebarToggle ? 'none' : 'block'">
        <a mat-button [routerLink]="'/'"> Home </a>
        <a mat-button [routerLink]="'/projects'"> Projects </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container #sidebar>
    <mat-sidenav #sidenav class="app-sidenav">
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/'"> Home </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/projects'"> Projects </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
