// mat-sidenav-container {
//     // height: 100vh;
//     flex-grow: 1;
// }

// .container-for-flex {
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
// }

.website-title {
    font-size: 1.5em;
    font: bold, italic;
}

mat-sidenav {
    min-width: 65%;
}

mat-toolbar {
    position: fixed 0 0 0 0;
}

// mat-sidenav-content {
//     overflow-y: scroll;
// }