.header-toolbar {
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
}

ng-container {
    background-color: #303030;
}

.app-sidenav {
    width: 75%;
}