<ng-container>
  <mat-toolbar color="primary" class="header-toolbar">
    <mat-toolbar-row>
      <button
        mat-icon-button
        class="menu-button"
        [style.display]="displaySidebarToggle ? 'block' : 'none'"
      >
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <a mat-button [routerLink]="'/'"
        ><h1 class="website-title"><i>Kindeep.me</i></h1></a
      >
      <span class="menu-spacer"></span>
      <div [style.display]="displaySidebarToggle ? 'none' : 'block'">
        <a mat-button [routerLink]="'/'"> Home </a>
        <a mat-button [routerLink]="'/projects'"> Projects </a>
        <a
          mat-button
          href="https://firebasestorage.googleapis.com/v0/b/kindeep-me.appspot.com/o/resume_kindeep.pdf?alt=media&token=ea8d552a-e6dc-40a6-bb73-9934efc21a91"
        >
          Resume
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container #sidebar class="nav-container">
    <mat-sidenav #sidenav class="app-sidenav" fixedInViewport="false">
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/'">
          Home
        </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/projects'">
          Projects
        </a>
        <a
          mat-list-item
          (click)="sidenav.toggle()"
          href="/https://firebasestorage.googleapis.com/v0/b/kindeep-me.appspot.com/o/resume_kindeep.pdf?alt=media&token=ea8d552a-e6dc-40a6-bb73-9934efc21a91"
        >
          Resume
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
