mat-card {
    margin: 8px;
}

.full-width {
    text-align: left;
    width: 100%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.col3 {
    grid-area: c3;
}

.col2 {
    grid-area: c2;
}

.col1 {
    grid-area: c1;
}



@media screen and (min-width: 60em) {
    .container {
        display: grid;
        grid-template-columns: 33.3% 33.4% 33.3%;
        grid-template-rows: auto;
        grid-template-areas:
            "c1 c2 c3";
    }
}


@media screen and (min-width: 34em) and (max-width: 60em) {
    .container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-template-areas:
            "c1 c2"
            ". c3";
    }
}

@media screen and (min-width: 10em) and (max-width: 20em) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "c1"    
        "c2"
        "c3";
    }
}