<div class="container">
  <div class="col1 col1">
    <mat-card color="primary">
      <mat-card-title>Kindeep Singh Kargil</mat-card-title>
      <mat-card-content
        >Computer Science (Co-op) Student at
        <a href="https://brocku.ca">Brock University</a></mat-card-content
      >
    </mat-card>

    <mat-card color="primary">
      <mat-card-title>Quick Links</mat-card-title>
      <mat-card-content>
        <a mat-button class="full-width" href="https://github.com/kargq/"
          >GitHub</a
        >
        <a
          mat-button
          class="full-width"
          href="https://www.linkedin.com/in/kindeep/"
          >Linkedin</a
        >
        <a
          mat-button
          class="full-width"
          href="https://play.google.com/store/apps/developer?id=Kindeep+Singh+Kargil"
          >Play Store</a
        >
        <a mat-button class="full-width" href="https://www.devpost.com/kargq"
          >Devpost</a
        >
      </mat-card-content>
    </mat-card>
  </div>

    <mat-card #tictactoep class="example-card col2">
      <canvas
        #tictactoec
        class="tictactoe crd-img-top rounded-top bg-red-grey"
        mat-card-image
      ></canvas>
      <mat-card-content>
        <mat-card-title>TicTacToe</mat-card-title>
        <mat-card-subtitle>
          Click to make a move.
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card col3">
      <canvas
        #flappycanvas
        class="flappyc crd-img-top rounded-top bg-red-grey"
        mat-card-image
      ></canvas>
      <mat-card-content>
        <mat-card-title>Flappy Aves</mat-card-title>
        <mat-card-subtitle>
          A bit wonky at the moment. Under construction.
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
</div>
