$line-size: 1rem;
$line-color: #ff2222;

.timeline-item-grid {
  display: grid;
  grid-template-columns: 8rem 2rem auto;
  grid-template-rows: auto 2rem auto;
  grid-template-areas:
    '. year .'
    'time dot content'
    '. line content';
}

.year-divider {
  grid-area: year;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $line-color;
  font-weight: bold;
}

.timeline-item {
  grid-area: content;
  flex: 1 1 auto;
  min-width: 0;
}

.line-container {
  grid-area: line;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.line {
  flex: 0 0 auto;
  width: $line-size;
  background-image: url('../../../assets/daLine.svg');
  background-size: 100% auto;
}

.time-dot-container {
  display: flex;
  flex-direction: column;
  grid-area: dot;
  align-items: center;
}

.time-dot {
  flex: 1 1 auto;
  width: $line-size;
  background-image: url('../../../assets/daLongLineDot.svg');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.time {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  grid-area: time;
  margin-right: 1rem;
}
