$line-size: 1rem;
$line-color: #ff2222;

.timeline-time-container {
  display: flex;
  flex-direction: column;
  min-height: 4rem;
  flex: 0 0 8rem;
  margin: 0 2rem;
}

.timeline-item-container {
  display: flex;
}

.timeline-item {
  flex: 1 1 auto;
  min-width: 0;
}

.line-centering-container {
}

.line-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.line {
  flex: 0 0 auto;
  width: $line-size;
  background-image: url('../../../assets/daLine.svg');
  background-size: 100% auto;
}

.time-dot {
  flex: 0 0 auto;
  width: $line-size;
  background-image: url('../../../assets/daLongLineDot.svg');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.time-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.month-divider-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.timeline-container {
  margin: 2rem;
}

.time {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.year-divider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $line-color;
  font-weight: bold;
}
