@import '../../../styles.scss';

$line-size: 1rem;
$line-color: #ff2222;

.timeline-item-grid {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 2rem auto auto;
  grid-template-areas:
    'dot time'
    'line content'
    'year .';
}

.year-divider-container {
  grid-area: year;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year-divider {
  color: $line-color;
  font-weight: bold;
}

.timeline-item {
  grid-area: content;
  flex: 1 1 auto;
  min-width: 0;
  padding: var(--space-8);
  padding-left: 0;
}

.line-container {
  grid-area: line;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: $line-size;
  padding: 0 var(--space-8);
}

.line {
  flex: 0 0 auto;
  width: $line-size;
  background-image: url('../../../assets/daLine.svg');
  background-size: 100% auto;
}

.time-dot-container {
  display: flex;
  flex-direction: column;
  grid-area: dot;
  align-items: center;
  width: $line-size;
  padding: 0 var(--space-8);
}

.time-dot {
  flex: 1 1 auto;
  width: $line-size;
  background-image: url('../../../assets/daLongLineDot.svg');
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.time-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  grid-area: time;
  margin-right: 1rem;
  padding: var(--space-8);
  padding-left: 0;
}

.time {
  display: inline-block;
  position: relative;

  background: rgb(249, 255, 0);
  background: linear-gradient(90deg, rgba(249, 255, 0, 1) 0%, rgba(255, 220, 0, 1) 100%);

  padding: var(--space-2) var(--space-4);
  border-radius: var(--border-radius-3);
  color: var(--ksk-accent-text-color);
  margin-left: calc(var(--space-4) * -1);
}
