mat-card {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */

    page-break-inside: avoid;
    /* Firefox */

    break-inside: avoid;
    /* IE 10+ */
}

.padding-div {
    padding: 8px 4px 8px 4px;
}